{% extends 'tag_base.html' %} {% block content%}

<main>
  <form method="post">
    {% csrf_token %}
    <p>Do you really want to DELETE '{{ tag }}'?</p>
    {{ form.as_p }}
    <button class="button">Delete</button>
  </form>
</main>

{% endblock content %}
