{% extends 'meal_base.html' %} {% block content%}
{% load markdownify %}


  <main class="recipe-detail">
    <div>
      <a href='{% url 'meal_plans_edit' meal_plan.id %}'>Edit</a>
      <a href='{% url 'meal_plans_delete' meal_plan.id %}'>Delete</a>
    </div>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ meal_plan.name }}</h1>
    <h2>by {{ meal_plan.owner | default_if_none:'Unknown'}}</h2>
    <h2>Date Served</h2>
    <p>
      Meal will be served on {{ meal_plan.date }} 
    </p>
    <h2>Meals Of The Day</h2>
    <p>The meals will be {{ meal_plan.recipes.all }}</p>
  </main>

{% endblock content %}